/* Hide scrollbar but keep content scrollable */
.scrollbar-hidden {
    overflow-y: scroll;
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; 
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none; 
    scrollbar-width: none;     
  }
  